# directories

Fisticuffs_Data/
Fisticuffs-DC_Data/
Fisticuffs-DC+Scottish Collection_Data/
Fisticuffs-test_Data/
Library/
obj/
Temp/


# files

Fisticuffs.exe
Fisticuffs-DC.exe
Fisticuffs-DC+Scottish Collection.exe
Fisticuffs-test.exe
